---
layout: default
---

<div class="row header-row"> <!-- 0 -->

<div class="col-md-9"> <!--1-->
	<ul class="course-information">
    	<li> <b>Instructor</b>: {{ site.instructor }} </li>
    	<li> <b>Office</b>: {{ site.office }} </li>
    	<li> <b>Lecture Schedule</b>: {{ site.lecture_schedule }} </li>
      {% if site.office_hours %}
      <li> <b>Office Hours</b>: {{ site.office_hours }}</li>
      {% endif %}
      {% if site.TA_office_hours %}
      <li> <b>TA Office Hours</b>: {{ site.TA_office_hours }}</li>
      {% endif %}
      <li> <b>Text:</b> The sensual (quadratic) form, by J. H. Conway</li>
	</ul>
</div><!--/1 -->

<div class="col-md-9"> <!--1-->
  <p> 
    This course will cover different ideas broadly around the idea of the famous question "can you hear the shape of a drum?" and its connections to various other areas of mathematics, from the arithmetic of quadratic forms and division algebras, to elliptic curves and even partial differential equations.
</p>
<p>
    We will start with the text "The sensual (quadratic) form," by Conway, and proceed to explore other related texts as dictated by time and taste.
    </p>
</div><!--/1 -->
</div><!--/0 -->




